body {
    background-color: #f2e4d9;
    background-image: url("https://www.transparenttextures.com/patterns/dark-leather.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

H1 {
    color: black;
    padding: 3px;
    font-family: sans-serif;
    /*font-family: Georgia, 'Times New Roman', Times, serif; */
    text-align: left;
    text-shadow: 2px 2px rgb(81, 55, 82);
    font-size: 20px;
    background-color:lightgrey;
    margin: auto;
    opacity: 0.50;
    }
    H2 {
        color: black;
        padding: 3px;
        font-family: sans-serif;
        /*font-family: Georgia, 'Times New Roman', Times, serif; */
        text-align: Center;
        text-shadow: 2px 2px rgb(81, 55, 82);
        font-size: 40px;
        background-color:lightgrey;
        margin: auto;
        opacity: 0.50;
        }
    
#MyName{
    margin-right: 3px;
}
#mymug {
    width: 150px;
}

#MyStory{
    position: absolute;
    top: 50%;
    right: 475px;
    width: 50%
    /* transform: translate(-50%, -50%); */
    font-size: 20px;
    background-color:lightgrey;
    font-family: sans-serif; 
    /*font-family: Georgia, 'Times New Roman', Times, serif; */
    padding: 15px;  
    text-align: center;
    /*border: 5px solid rgb(81, 55, 82); */
    opacity: 0.50;
    font-weight: 700;
}

#myimage {
    width: 300px;
}

.MyMug {
    border: 3px solid rgb(81, 55, 82);  
    padding: 15px;  
    
}
.MyPic {
    position: absolute;
    right: 15px;
    width: 400px;
    height: 500px;
    border: 5px solid rgb(81, 55, 82);
    padding: 15px;        
    mix-blend-mode: hard-light;
}

.outerbox {
    position: absolute;
    bottom: 3px;
    right: 500px;
    width: 50%;
    height: 50px;
    Padding-top: 10px;
    background-color: lightgrey;
    opacity: 0.70;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: space-between;
    justify-content: space-around;
    font-weight: 700;
    font-style: oblique;
    border-radius: 25px;

 }


 .innerbox{
    width: 20%;
    height: 40px;
    background-color:rosybrown;
    border: 5px solid  rgb(47, 24, 48);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 700;

 }
 #box1{
    align-self: normal; 
    padding: 5px;  
    text-align: center;
    border-radius: 25px;
    width: 175px;   
 }
 #box2{
    align-self: normal; 
    padding: 5px;  
    text-align: center;
    border-radius: 25px;
    width: 175px;     
 }
 #box3{
    align-self: normal;   
    padding: 5px;  
    text-align: center;  
    border-radius: 25px; 
    width: 175px; 
}
 #box4{
    align-self: normal; 
    padding: 5px;  
    text-align: center; 
    border-radius: 25px; 
    width: 175px;    
}